<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ezttf.ad.dao.AdCreativeMapper">
    <resultMap id="BaseResultMap" type="top.ezttf.ad.pojo.AdCreative">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="material_type" jdbcType="TINYINT" property="materialType"/>
        <result column="height" jdbcType="INTEGER" property="height"/>
        <result column="width" jdbcType="INTEGER" property="width"/>
        <result column="size" jdbcType="BIGINT" property="size"/>
        <result column="duration" jdbcType="INTEGER" property="duration"/>
        <result column="audit_status" jdbcType="TINYINT" property="auditStatus"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="TableResultMap" type="top.ezttf.ad.dump.table.AdCreativeTable">
        <id column="id" jdbcType="BIGINT" property="adId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="material_type" jdbcType="TINYINT" property="materialType"/>
        <result column="audit_status" jdbcType="TINYINT" property="auditStatus"/>
        <result column="url" property="adUrl" jdbcType="VARCHAR"/>
        <result column="height" jdbcType="INTEGER" property="height"/>
        <result column="width" jdbcType="INTEGER" property="width"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, type, material_type, height, width, size, duration, audit_status, user_id, 
    url, create_time, update_time
  </sql>
    <sql id="Table_Column_List">
        id, name, type, material_type, height, width, audit_status, url
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ad_creative
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ad_creative
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="top.ezttf.ad.pojo.AdCreative">
    insert into ad_creative (id, name, type, 
      material_type, height, width, 
      size, duration, audit_status, 
      user_id, url, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{materialType,jdbcType=TINYINT}, #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, 
      #{size,jdbcType=BIGINT}, #{duration,jdbcType=INTEGER}, #{auditStatus,jdbcType=TINYINT}, 
      #{userId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="top.ezttf.ad.pojo.AdCreative">
        insert into ad_creative
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
        id,
      </if>
            <if test="name != null">
        name,
      </if>
            <if test="type != null">
        type,
      </if>
            <if test="materialType != null">
        material_type,
      </if>
            <if test="height != null">
        height,
      </if>
            <if test="width != null">
        width,
      </if>
            <if test="size != null">
        size,
      </if>
            <if test="duration != null">
        duration,
      </if>
            <if test="auditStatus != null">
        audit_status,
      </if>
            <if test="userId != null">
        user_id,
      </if>
            <if test="url != null">
        url,
      </if>
            <if test="createTime != null">
        create_time,
      </if>
            <if test="updateTime != null">
        update_time,
      </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
            <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
            <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
            <if test="materialType != null">
        #{materialType,jdbcType=TINYINT},
      </if>
            <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
            <if test="width != null">
        #{width,jdbcType=INTEGER},
      </if>
            <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
            <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
            <if test="auditStatus != null">
        #{auditStatus,jdbcType=TINYINT},
      </if>
            <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
            <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
            <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
            <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.ezttf.ad.pojo.AdCreative">
        update ad_creative
        <set>
            <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
            <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
            <if test="materialType != null">
        material_type = #{materialType,jdbcType=TINYINT},
      </if>
            <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
            <if test="width != null">
        width = #{width,jdbcType=INTEGER},
      </if>
            <if test="size != null">
        size = #{size,jdbcType=BIGINT},
      </if>
            <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
            <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=TINYINT},
      </if>
            <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
            <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
            <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
            <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.ezttf.ad.pojo.AdCreative">
    update ad_creative
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      material_type = #{materialType,jdbcType=TINYINT},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      size = #{size,jdbcType=BIGINT},
      duration = #{duration,jdbcType=INTEGER},
      audit_status = #{auditStatus,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


    <select id="selectCreativeTable" resultMap="TableResultMap">
        SELECT
        <include refid="Table_Column_List"/>
        FROM ad_creative
    </select>

</mapper>