<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ezttf.ad.dao.AdUnitDistrictMapper">
    <resultMap id="BaseResultMap" type="top.ezttf.ad.pojo.AdUnitDistrict">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="unit_id" jdbcType="INTEGER" property="unitId"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
    </resultMap>

    <resultMap id="TableResultMap" type="top.ezttf.ad.dump.table.AdUnitDistrictTable">
        <result column="unit_id" jdbcType="INTEGER" property="unitId"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, unit_id, province, city
  </sql>
    <sql id="Table_Column_List">
        unit_id, province, city
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ad_unit_district
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ad_unit_district
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="top.ezttf.ad.pojo.AdUnitDistrict">
    insert into ad_unit_district (id, unit_id, province, 
      city)
    values (#{id,jdbcType=INTEGER}, #{unitId,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="top.ezttf.ad.pojo.AdUnitDistrict">
        insert into ad_unit_district
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
        id,
      </if>
            <if test="unitId != null">
        unit_id,
      </if>
            <if test="province != null">
        province,
      </if>
            <if test="city != null">
        city,
      </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
            <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
            <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
            <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.ezttf.ad.pojo.AdUnitDistrict">
        update ad_unit_district
        <set>
            <if test="unitId != null">
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
            <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
            <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.ezttf.ad.pojo.AdUnitDistrict">
    update ad_unit_district
    set unit_id = #{unitId,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="selectAdUnitDistrictTable" resultMap="TableResultMap">
        SELECT
        <include refid="Table_Column_List"/>
        FROM ad_unit_district
    </select>

</mapper>