<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ezttf.ad.dao.AdUnitKeywordMapper">
    <resultMap id="BaseResultMap" type="top.ezttf.ad.pojo.AdUnitKeyword">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="unit_id" jdbcType="INTEGER" property="unitId"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
    </resultMap>
    <resultMap id="TableResultMap" type="top.ezttf.ad.dump.table.AdUnitKeywordTable">
        <result column="unit_id" jdbcType="INTEGER" property="unitId"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, unit_id, keyword
  </sql>
    <sql id="Table_Column_List">
        unit_id, keyword
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ad_unit_keyword
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ad_unit_keyword
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="top.ezttf.ad.pojo.AdUnitKeyword">
    insert into ad_unit_keyword (id, unit_id, keyword
      )
    values (#{id,jdbcType=INTEGER}, #{unitId,jdbcType=INTEGER}, #{keyword,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="top.ezttf.ad.pojo.AdUnitKeyword">
        insert into ad_unit_keyword
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="unitId != null">
                unit_id,
            </if>
            <if test="keyword != null">
                keyword,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="unitId != null">
                #{unitId,jdbcType=INTEGER},
            </if>
            <if test="keyword != null">
                #{keyword,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.ezttf.ad.pojo.AdUnitKeyword">
        update ad_unit_keyword
        <set>
            <if test="unitId != null">
                unit_id = #{unitId,jdbcType=INTEGER},
            </if>
            <if test="keyword != null">
                keyword = #{keyword,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.ezttf.ad.pojo.AdUnitKeyword">
    update ad_unit_keyword
    set unit_id = #{unitId,jdbcType=INTEGER},
      keyword = #{keyword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="selectAdUnitKeywordTable" resultMap="TableResultMap">
        SELECT
        <include refid="Table_Column_List"/>
        FROM ad_unit_keyword
    </select>
</mapper>